# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/src/main/resources/assets/baguettesmod/blockstates/abyssite_stone_block.json
/src/main/resources/assets/baguettesmod/models/block/abyssite_stone_block.json
/src/main/resources/assets/baguettesmod/models/item/abyssite_stone_block.json
